<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <h1>Welcome, Admin!</h1>
    <p>You have successfully logged in as an administrator.</p>

    <ul>
        <li><a href="/manage-users">Manage Users</a></li>
        <li><a href="/Leaderboard-setting">Leaderboard settings</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>
